<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td<%- flight.hasPassed ? ' class="has-passed"' : '' %>><%= flight.departs %></td>
    </tr>
  </tbody>
</table>
<h2>Additional Destinations:</h2>
<table id="list">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Arrives</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(dest) { %>
      <tr>
        <td><%= dest.airport %></td>
        <td><%= dest.arrives %></td>
      </tr>
    <% }); %>
    </tbody>
  </tbody>
</table>
<h2>Add New Destination:</h2>
<form method="POST" action="/flights/<%= flight._id %>/destinations">
  <label for="airport">Airport:</label>
  <select name="airport">
    <% flightConsts.airports.forEach(function(airport) {
      if(airport === flight.airport) return;
      for(let i = 0; i < flight.destinations.length; i++) { if(flight.destinations[i].airport === airport) return; } %>
      <option value="<%= airport %>"><%= airport %></option>
    <% }); %>
  </select>
  <br><br>
  <label>Arrival Time</label>
  <input type="datetime-local" name="arrives">
  <br><br>
  <input type="submit" value="Add Destination">
</form>
<%- include('../partials/footer') %>
